* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(61, 61, 61);
}

li {
    display: inline;
}

.homeimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centre{
    text-align: center;
}

.RedBackground{
    background-color: rgb(158, 23, 23);
}

.footertxt{
    font-size: small;
}

.divborder{
    min-height: 80vh;
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(224, 219, 219);
}

.borderheader{
    padding-top: 8px;
    padding-bottom: 8px;
    border: 3px solid rgb(224, 219, 219);
    font-size: large;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding-left: 5px;
    font-weight: bold;
  }

.bold{
    font-weight: bold;
}

.button{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: large;
}

.cbkinfoimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
}

.container{
    display: flex;
}

.aboutusheight{
    height: 80vh;
}

.cbkinfoheight{
    height: auto;
    min-height: 44vh;
}

.box{
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  

  .containercon {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.blogheight{
    flex: 1;
    min-height: 24.3vh;
    padding-left: 20px;
    padding-right: 20px;
}